@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.body{
    font-family: 'Bebas Neue', cursive;
}
.body1{
    background-color: #FFFBF0;
}
.price{
    color: #FABE4C;
    font-weight: 900;
   font-size:x-large;
}
a{
    font-size: 16px;
    font-weight: 700;
}
.orange{
    color: #FABE4C;
}
.blue{
    color: #363958;
}